*{
    font-family: roboto, sans-serif;
}

a{
    text-decoration: none;
    color: #E5E7EB;
}

body{
    display: flex;
    flex-direction: column;
}

.container1-header{
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    gap: 20px;
    padding-top: 70px;
    padding-bottom: 100px;
}

.c2s1-header-text{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: extra-bold;
}

.c2s1-sub-text{
    font-size: 18px;
    color: #E5E7EB;
}

.c2s1-sign-up{
    background-color: #3882F6;
    color: white;
    font-size: 24px;
}

ul{
    list-style-type: none;
}

li{
    display: inline-block;
    padding: 10px;
    padding-left: 15px;
}

.header-logo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

img{
    max-width: 300px;
}

.container1-header, .container2, .container3, .container4, .container5, .container6-footer{
    padding-left: 200px;
    padding-right: 200px;
}